{{define "footer"}}
<footer class="footer">
  <div class="content has-text-centered">
    <p>
        Website created by <a href="https://github.com/JakBaranowski">Jakub Baranowski</a>
    </p>
    <p>
      <a href="/thanks">Thanks!</a>
    </p>
  </div>
</footer>
{{end}}